{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ categorie.name }}</td>
            </tr>
            <tr>
                <th>image</th>
                <td><a href="{{ asset('%kernel.root_dir%/../web/uploads/images/' ~ categorie.image) }}">View brochure (PDF)</a></td>
                <td><img src="{{ asset('/uploads/images/' ~ categorie.image) }}" ></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
